# Analyse classes and class labels 
This is the next file to: 
1) get_relative_heights File (read in file and then determine the relative heights and save it)

Now: read in the file including the relative heights and analyse the classes

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

## Read file in and prepare to use

In [2]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_NAME = r"/Cassette_relativeHeight.csv"
df = pd.read_csv(FILE_PATH+FILE_NAME, delimiter=',')
df.head()

,Unnamed: 0,X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range,relative_height
0,1,1903.382935,21122.490234,38.991180,1907.911133,21121.59375,41.325581,-10.139493,-1.063594,0.0,303040192.0,5.17300,-2.334401
1,2,1903.404541,21122.486328,38.990284,1907.911011,21121.59375,41.325989,-9.909495,-1.061419,0.0,303040192.0,5.15375,-2.335705
2,3,1903.428223,21122.480469,38.990547,1907.910767,21121.59375,41.326397,-9.559498,-1.059231,0.0,303040192.0,5.13200,-2.335850
3,4,1903.451538,21122.476562,38.991211,1907.910645,21121.59375,41.326786,-10.209500,-1.057138,0.0,303040192.0,5.11050,-2.335575
4,5,1903.474854,21122.470703,38.991467,1907.910400,21121.59375,41.327194,-10.499502,-1.054956,0.0,303040192.0,5.08925,-2.335727

In [7]:
# Get rid of first column (was ID-created by Python I assume)
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range,relative_height
0,1903.382935,21122.490234,38.991180,1907.911133,21121.59375,41.325581,-10.139493,-1.063594,0.0,303040192.0,5.17300,-2.334401
1,1903.404541,21122.486328,38.990284,1907.911011,21121.59375,41.325989,-9.909495,-1.061419,0.0,303040192.0,5.15375,-2.335705
2,1903.428223,21122.480469,38.990547,1907.910767,21121.59375,41.326397,-9.559498,-1.059231,0.0,303040192.0,5.13200,-2.335850
3,1903.451538,21122.476562,38.991211,1907.910645,21121.59375,41.326786,-10.209500,-1.057138,0.0,303040192.0,5.11050,-2.335575
4,1903.474854,21122.470703,38.991467,1907.910400,21121.59375,41.327194,-10.499502,-1.054956,0.0,303040192.0,5.08925,-2.335727

## Now analyse the classes

In [18]:
rows, columns = df.shape
print "Number of points:", rows
print "Number of attributes:", columns

Number of points: 12000000
Number of attributes: 12

In [14]:
df["class"].value_counts()

203000000.0    7027016
202020000.0    3196982
202030000.0     907894
303040192.0     368271
304020000.0     202728
202040000.0      64303
202010000.0      60460
0.0              52508
303030304.0      38330
302020288.0      19912
302030400.0      18425
303020192.0      15051
304040000.0       9403
303020288.0       4065
303020608.0       3848
302020416.0       2478
301000000.0       2306
303030208.0       2001
302020608.0       1355
302020992.0       1200
303020000.0       1035
302020896.0        429
Name: class, dtype: int64

In [12]:
df.groupby('class').size()

class
0.0              52508
202010000.0      60460
202020000.0    3196982
202030000.0     907894
202040000.0      64303
203000000.0    7027016
301000000.0       2306
302020288.0      19912
302020416.0       2478
302020608.0       1355
302020896.0        429
302020992.0       1200
302030400.0      18425
303020000.0       1035
303020192.0      15051
303020288.0       4065
303020608.0       3848
303030208.0       2001
303030304.0      38330
303040192.0     368271
304020000.0     202728
304040000.0       9403
dtype: int64