# Create the final classes for my dataset to use during the ML process

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
import pcl

In [3]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_NAME = r"/CleanedDataSet.txt"
IMAGE_FILE_PATH = r"images"
df = pd.read_csv(FILE_PATH+FILE_NAME, delimiter=',')
df.head()

,//X,Y,Z,Scalar field,Scalar field #2,Scalar field #3,Scalar field #4,Scalar field #5,Scalar field #6,Scalar field #7,Scalar field #8,Scalar field #9,Scalar field #10,Scalar field #11
0,1.106672e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.905495e+03,21122.037109,38.884586,1907.871704,21121.605469,41.381775,-13.679660,-0.729575,2.0,202020000.0,3.47450,-2.497189,202020000.0,2.0
2,1.905503e+03,21122.035156,38.883110,1907.871338,21121.605469,41.382092,-10.869660,-0.727414,2.0,202020000.0,3.46975,-2.498982,202020000.0,2.0
3,1.905513e+03,21122.033203,38.883949,1907.870972,21121.605469,41.382397,-13.969661,-0.725307,2.0,202020000.0,3.46200,-2.498448,202020000.0,2.0
4,1.905521e+03,21122.031250,38.882137,1907.870728,21121.605469,41.382713,-10.199661,-0.723132,2.0,202020000.0,3.45775,-2.500576,202020000.0,2.0

In [4]:
# Obtain number of observations
n = df.iloc[0,0]
n = int(n)
# Get rid of first line with number of observations
df = df.drop(df.index[0])
print n

11066725

In [5]:
# Rename the column 
df = df.rename(index=str, columns={"//X": "X"})
df = df.rename(index=str, columns={"Scalar field": "x_origin"})
df = df.rename(index=str, columns={"Scalar field #2": "y_origin"})
df = df.rename(index=str, columns={"Scalar field #3": "z_origin"})
df = df.rename(index=str, columns={"Scalar field #4": "reflectance"})
df = df.rename(index=str, columns={"Scalar field #5": "theta"})
df = df.rename(index=str, columns={"Scalar field #6": "id"})
df = df.rename(index=str, columns={"Scalar field #7": "class"})
df = df.rename(index=str, columns={"Scalar field #8": "range"})
df = df.rename(index=str, columns={"Scalar field #9": "relative_height"})
df = df.rename(index=str, columns={"Scalar field #10": "revised_class"})
df = df.rename(index=str, columns={"Scalar field #11": "revised_class_1_15"})
df.head()

,X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range,relative_height,revised_class,revised_class_1_15
1,1905.494751,21122.037109,38.884586,1907.871704,21121.605469,41.381775,-13.679660,-0.729575,2.0,202020000.0,3.47450,-2.497189,202020000.0,2.0
2,1905.502930,21122.035156,38.883110,1907.871338,21121.605469,41.382092,-10.869660,-0.727414,2.0,202020000.0,3.46975,-2.498982,202020000.0,2.0
3,1905.512939,21122.033203,38.883949,1907.870972,21121.605469,41.382397,-13.969661,-0.725307,2.0,202020000.0,3.46200,-2.498448,202020000.0,2.0
4,1905.520874,21122.031250,38.882137,1907.870728,21121.605469,41.382713,-10.199661,-0.723132,2.0,202020000.0,3.45775,-2.500576,202020000.0,2.0
5,1905.531128,21122.029297,38.882839,1907.870361,21121.605469,41.383030,-10.459662,-0.720937,2.0,202020000.0,3.45000,-2.500191,202020000.0,2.0

In [6]:
# Convert the two columns ID and CLASS into integer values
df = df.astype({"id": 'int64', "class": 'int64', "revised_class": 'int64', "revised_class_1_15": 'int64'})
df.head()

,X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range,relative_height,revised_class,revised_class_1_15
1,1905.494751,21122.037109,38.884586,1907.871704,21121.605469,41.381775,-13.679660,-0.729575,2,202020000,3.47450,-2.497189,202020000,2
2,1905.502930,21122.035156,38.883110,1907.871338,21121.605469,41.382092,-10.869660,-0.727414,2,202020000,3.46975,-2.498982,202020000,2
3,1905.512939,21122.033203,38.883949,1907.870972,21121.605469,41.382397,-13.969661,-0.725307,2,202020000,3.46200,-2.498448,202020000,2
4,1905.520874,21122.031250,38.882137,1907.870728,21121.605469,41.382713,-10.199661,-0.723132,2,202020000,3.45775,-2.500576,202020000,2
5,1905.531128,21122.029297,38.882839,1907.870361,21121.605469,41.383030,-10.459662,-0.720937,2,202020000,3.45000,-2.500191,202020000,2

In [10]:
# Returns the classes and how often they occur, sorted by the class name 
df.groupby('revised_class_1_15').size()

revised_class_1_15
1.0       55878
2.0     3174754
3.0      884203
4.0       59854
5.0     6359799
6.0        3842
7.0       18024
11.0      23070
12.0      39803
13.0     318893
14.0     105205
15.0       8969
dtype: int64

In [11]:
df["revised_class_1_15"].value_counts()

5.0     6359799
2.0     3174754
3.0      884203
13.0     318893
14.0     105205
4.0       59854
1.0       55878
12.0      39803
11.0      23070
7.0       18024
15.0       8969
6.0        3842
Name: revised_class_1_15, dtype: int64

In [12]:
# Now combine classes and delete the empty ones 

# Delete class 10 
df["revised_class_1_15"].replace(10,np.NaN, inplace = True)
df.head()

,X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range,relative_height,revised_class,revised_class_1_15
1,1905.494751,21122.037109,38.884586,1907.871704,21121.605469,41.381775,-13.679660,-0.729575,2,202020000,3.47450,-2.497189,202020000,2.0
2,1905.502930,21122.035156,38.883110,1907.871338,21121.605469,41.382092,-10.869660,-0.727414,2,202020000,3.46975,-2.498982,202020000,2.0
3,1905.512939,21122.033203,38.883949,1907.870972,21121.605469,41.382397,-13.969661,-0.725307,2,202020000,3.46200,-2.498448,202020000,2.0
4,1905.520874,21122.031250,38.882137,1907.870728,21121.605469,41.382713,-10.199661,-0.723132,2,202020000,3.45775,-2.500576,202020000,2.0
5,1905.531128,21122.029297,38.882839,1907.870361,21121.605469,41.383030,-10.459662,-0.720937,2,202020000,3.45000,-2.500191,202020000,2.0

In [13]:
df["revised_class_1_15"].value_counts()

5.0     6359799
2.0     3174754
3.0      884203
13.0     318893
14.0     105205
4.0       59854
1.0       55878
12.0      39803
11.0      23070
7.0       18024
15.0       8969
6.0        3842
Name: revised_class_1_15, dtype: int64

In [20]:
# Test whether there are any NAN values in the data set 
if df.isnull().values.any() == False:
    print("No Nan in this data set")
else:
    print("There are Nan in this dataset")

No Nan in this data set

In [15]:
df.dropna(inplace = True)

In [16]:
# Convert the class labels back into integer values (because of NaN it became float)
df = df.astype({"revised_class_1_15": 'int64'})

In [19]:
df["revised_class_1_15"].value_counts()

5     6359799
2     3230632
3      884203
13     318893
14     105205
4       59854
12      39803
11      23070
7       18024
15       8969
6        3842
Name: revised_class_1_15, dtype: int64

### Now merge classes 1 and 2 (road and other ground)

In [18]:
df["revised_class_1_15"].where(df["revised_class_1_15"] != 1, 
                                   2, inplace=True)

# Create final dataset for ML 
This involves:
    
Delete all class columns

Delete ID for now 

Keeping only the classes 1-11 (revised_class_1_15)

Rename the column to class

In [22]:
columns_to_drop = ["x_origin", "y_origin", "z_origin", "id", "class", "revised_class"]

for elem in columns_to_drop:
    df.drop([elem], axis=1, inplace=True)

df.head()

,X,Y,Z,reflectance,theta,range,relative_height,revised_class_1_15
1,1905.494751,21122.037109,38.884586,-13.679660,-0.729575,3.47450,-2.497189,2
2,1905.502930,21122.035156,38.883110,-10.869660,-0.727414,3.46975,-2.498982,2
3,1905.512939,21122.033203,38.883949,-13.969661,-0.725307,3.46200,-2.498448,2
4,1905.520874,21122.031250,38.882137,-10.199661,-0.723132,3.45775,-2.500576,2
5,1905.531128,21122.029297,38.882839,-10.459662,-0.720937,3.45000,-2.500191,2

In [24]:
df.rename(index=str, columns={"revised_class_1_15": "class"}, inplace = True)
df.head()

,X,Y,Z,reflectance,theta,range,relative_height,class
1,1905.494751,21122.037109,38.884586,-13.679660,-0.729575,3.47450,-2.497189,2
2,1905.502930,21122.035156,38.883110,-10.869660,-0.727414,3.46975,-2.498982,2
3,1905.512939,21122.033203,38.883949,-13.969661,-0.725307,3.46200,-2.498448,2
4,1905.520874,21122.031250,38.882137,-10.199661,-0.723132,3.45775,-2.500576,2
5,1905.531128,21122.029297,38.882839,-10.459662,-0.720937,3.45000,-2.500191,2

In [25]:
# Save file
df.to_csv(FILE_PATH+'/Dataset_for_ML.txt', index=False)

In [ ]:
# Now try to clean the dataset from outliers 

There is the sklearn function to remove outliers in the dataset