# Preparation of scenario B

In [1]:
import pandas as pd
import os
import numpy as np
import sklearn 
import scipy.linalg as scplinag
from sklearn.neighbors import KDTree
from scipy.spatial import distance

In [2]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_PATH2 = r"../DATA/ML_datasets/ScenarioB"
FILE_NAME = r"/5_Data_ML_attributes_50NN.txt"
IMAGE_FILE_PATH = r"images"
df = pd.read_csv(FILE_PATH+FILE_NAME, delimiter=',')
df.rename(index=str, columns={"range": "relative_height"}, inplace = True)

In [3]:
df2 = pd.read_csv(FILE_PATH+'/Dataset_for_ML_verticality.txt', delimiter=',')

In [4]:
rows, cols = df.shape
rows2, cols2 = df2.shape

if rows != rows2:
    print "Warning message"
else:
    print "Datasets have the same size"

Datasets have the same size

In [5]:
# Drop all columns in the df2 to only work with reflectance 
columns_to_drop = ["X", "Y", "Z", "class", "relative_height", "verticality"]

for elem in columns_to_drop:
    df2.drop([elem], axis=1, inplace=True)
df2.head()

   reflectance
0   -13.679660
1   -10.869660
2   -13.969661
3   -10.199661
4   -10.459662

In [6]:
# Add reflectance to my dataset
df['reflectance'] = df2.iloc[:,0].values

In [7]:
# Now delete all unnecessary stuff  
columns_to_drop = ["radius_neighbourhood"]

for elem in columns_to_drop:
    df.drop([elem], axis=1, inplace=True)
df.head()

,X,Y,Z,class,lambda1,lambda2,lambda3,lambda4,lambda5,lambda6,lambda7,lambda8,local_density,relative_height,verticality,reflectance
0,1905.494751,21122.037109,38.884586,2,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5026.894441,-2.497189,0.000847,-13.679660
1,1905.502930,21122.035156,38.883110,2,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5919.450657,-2.498982,0.000847,-10.869660
2,1905.512939,21122.033203,38.883949,2,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,6452.219916,-2.498448,0.000847,-13.969661
3,1905.520874,21122.031250,38.882137,2,0.303962,0.694588,0.001450,0.000140,0.998550,0.015981,0.002376,0.000854,7348.980491,-2.500576,0.000847,-10.199661
4,1905.531128,21122.029297,38.882839,2,0.329116,0.669345,0.001539,0.000147,0.998461,0.016326,0.002438,0.000920,9432.417831,-2.500191,0.000902,-10.459662

In [9]:
# Road (second most points)
df["class"].where(df["class"] != 2, 1, inplace=True)
# Sidewalk
df["class"].where(df["class"] != 3, 2, inplace=True)
# Curb
df["class"].where(df["class"] != 4, 3, inplace=True)
# Building (most points)
df["class"].where(df["class"] != 5, 4, inplace=True)
# Other pole like objects
df["class"].where(df["class"] != 6, 5, inplace=True)
# Small poles
df["class"].where(df["class"] != 7, 6, inplace=True)
# Pedestrians
df["class"].where(df["class"] != 11, 7, inplace=True)
# 2 wheelers
df["class"].where(df["class"] != 12, 8, inplace=True)
# 4 wheelers
df["class"].where(df["class"] != 13, 9, inplace=True)
# Trees
df["class"].where(df["class"] != 14, 10, inplace=True)
# Potted plants
df["class"].where(df["class"] != 15, 11, inplace=True)

In [10]:
df.to_csv(FILE_PATH2+'/ML_dataset_50NN_reflectance_withXYZ.txt', index= False)

In [11]:
# Clean variables I dont need right now
df = None
corr_matrix = None
X = None
y = None
data = None