# Machine Learning now

In [1]:
import pandas as pd
import os
import numpy as np
import sklearn 
import scipy.linalg as scplinag
from sklearn.neighbors import KDTree
from scipy.spatial import distance

# Scenario B

Take the same features as in Scenario 1, add all of them in the same high-dim vector and add the reflectance as well. So we can see if that changes anything. 

Here, we just create the feature vector, wait for new optimised results for RF.

In [2]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_PATH_ScenarioB = r"../DATA/ML_datasets/ScenarioB"

FILE_NAME_50_ref = r"/ML_dataset_50NN_reflectance.txt"
FILE_NAME_10 = r"/ScenarioB_10NNFeatures.txt"
FILE_NAME_100 = r"/ScenarioB_100NNFeatures.txt"

# Read in file with 50NN and reflectance this will be the base file
# call it df1
df_main = pd.read_csv(FILE_PATH_ScenarioB+FILE_NAME_50_ref, delimiter=',')

In [15]:
# Now read in the files for 10 and 100 NN features  
df_10 = pd.read_csv(FILE_PATH_ScenarioB+FILE_NAME_10, delimiter=',')
df_100 = pd.read_csv(FILE_PATH_ScenarioB+FILE_NAME_100, delimiter=',')

# Need to rename the attributes according to their NN size
Here, we do it manually because each set is very different, all we do is indicate the attributes whether they belong to 10NN or other NN

### Rename for 50 NN

In [12]:
# Rename the column 
df_main = df_main.rename(index=str, columns={"lambda1": "lambda1_50NN"})
df_main = df_main.rename(index=str, columns={"lambda2": "lambda2_50NN"})
df_main = df_main.rename(index=str, columns={"lambda3": "lambda3_50NN"})
df_main = df_main.rename(index=str, columns={"lambda4": "lambda4_50NN"})
df_main = df_main.rename(index=str, columns={"lambda5": "lambda5_50NN"})
df_main = df_main.rename(index=str, columns={"lambda6": "lambda6_50NN"})
df_main = df_main.rename(index=str, columns={"lambda7": "lambda7_50NN"})
df_main = df_main.rename(index=str, columns={"lambda8": "lambda8_50NN"})
df_main = df_main.rename(index=str, columns={"local_density": "local_density_50NN"})
df_main = df_main.rename(index=str, columns={"verticality": "verticality_50NN"})

df_main.head()

,class,lambda1_50NN,lambda2_50NN,lambda3_50NN,lambda4_50NN,lambda5_50NN,lambda6_50NN,lambda7_50NN,lambda8_50NN,local_density_50NN,relative_height,verticality_50NN,reflectance
0,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5026.894441,-2.497189,0.000847,-13.679660
1,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5919.450657,-2.498982,0.000847,-10.869660
2,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,6452.219916,-2.498448,0.000847,-13.969661
3,1,0.303962,0.694588,0.001450,0.000140,0.998550,0.015981,0.002376,0.000854,7348.980491,-2.500576,0.000847,-10.199661
4,1,0.329116,0.669345,0.001539,0.000147,0.998461,0.016326,0.002438,0.000920,9432.417831,-2.500191,0.000902,-10.459662

In [31]:
list_10 = list(df_10.columns.values)
list_100 = list(df_100.columns.values)
print list_100

['lambda1_100NN', 'lambda2_100NN', 'lambda3_100NN', 'lambda4_100NN', 'lambda5_100NN', 'lambda6_100NN', 'lambda7_100NN', 'lambda8_100NN', 'local_density_100NN', 'verticality_100NN']

In [37]:
df_10.head()

,lambda1_10NN,lambda2_10NN,lambda3_10NN,lambda4_10NN,lambda5_10NN,lambda6_10NN,lambda7_10NN,lambda8_10NN,local_density_10NN,verticality_10NN
0,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,25877.928393,0.000847
1,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,46635.546755,0.000847
2,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,75836.463465,0.000847
3,0.350668,0.646708,0.002624,0.000033,0.997376,0.003784,0.000451,0.001588,82825.790636,0.000847
4,0.391125,0.603946,0.004929,0.000041,0.995071,0.003847,0.000460,0.003054,82835.520399,0.000902

In [35]:
df_main['lambda1_10NN'] = df_10.iloc[:,0].values

In [36]:
df_main.head()

,class,lambda1_50NN,lambda2_50NN,lambda3_50NN,lambda4_50NN,lambda5_50NN,lambda6_50NN,lambda7_50NN,lambda8_50NN,local_density_50NN,relative_height,verticality_50NN,reflectance,lambda1_10NN
0,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5026.894441,-2.497189,0.000847,-13.679660,0.189010
1,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5919.450657,-2.498982,0.000847,-10.869660,0.189010
2,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,6452.219916,-2.498448,0.000847,-13.969661,0.189010
3,1,0.303962,0.694588,0.001450,0.000140,0.998550,0.015981,0.002376,0.000854,7348.980491,-2.500576,0.000847,-10.199661,0.350668
4,1,0.329116,0.669345,0.001539,0.000147,0.998461,0.016326,0.002438,0.000920,9432.417831,-2.500191,0.000902,-10.459662,0.391125

In [41]:
for count, elem in enumerate(list_10):
    df_main[elem] = df_10.iloc[:,count].values

In [44]:
df_main.head()

,class,lambda1_50NN,lambda2_50NN,lambda3_50NN,lambda4_50NN,lambda5_50NN,lambda6_50NN,lambda7_50NN,lambda8_50NN,local_density_50NN,...,lambda1_100NN,lambda2_100NN,lambda3_100NN,lambda4_100NN,lambda5_100NN,lambda6_100NN,lambda7_100NN,lambda8_100NN,local_density_100NN,verticality_100NN
0,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5026.894441,...,0.102637,0.896414,0.000949,0.000250,0.999051,0.030035,0.005013,0.000500,2939.715359,0.000847
1,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5919.450657,...,0.090709,0.908312,0.000979,0.000255,0.999021,0.030308,0.005067,0.000512,3304.676763,0.000847
2,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,6452.219916,...,0.124330,0.874710,0.000960,0.000248,0.999040,0.029584,0.004924,0.000512,3681.928229,0.000847
3,1,0.303962,0.694588,0.001450,0.000140,0.998550,0.015981,0.002376,0.000854,7348.980491,...,0.180508,0.818550,0.000941,0.000248,0.999059,0.029577,0.004925,0.000517,4059.958026,0.000847
4,1,0.329116,0.669345,0.001539,0.000147,0.998461,0.016326,0.002438,0.000920,9432.417831,...,0.220828,0.778263,0.000909,0.000249,0.999091,0.029796,0.004971,0.000511,4672.880330,0.000902

In [43]:
for count, elem in enumerate(list_100):
    df_main[elem] = df_100.iloc[:,count].values

I just created my scenario B file with all attributes, this is the size: (11052294, 33)

In [ ]:
# Now I have to create my training and testing dataset

In [46]:
df_10 = None
df_100 = None

# Testing and training

In [47]:
from sklearn.model_selection import StratifiedShuffleSplit

In [48]:
data = df_main.values
X = data[:,1:]
y = data[:,0]
print data.shape
print X.shape
print y.shape
print max(y)

(11052294, 33)
(11052294, 32)
(11052294,)
11.0

In [49]:
split = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=42)
for train_index, test_index in split.split(X, y):
    # Do that here
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [50]:
print "Size X training data", X_train.shape
print "Size y training data", y_train.shape
print "Size X testing data", X_test.shape
print "Size y testing data", X_test.shape

Size X training data (8841835, 32)
Size y training data (8841835,)
Size X testing data (2210459, 32)
Size y testing data (2210459, 32)

In [51]:
# Now save everything

In [53]:
# Save all my data as NUMPY arrays
# To load them later
# np.loadtxt()
np.savetxt(FILE_PATH_ScenarioB+'/y_train.txt', y_train, delimiter=',')
np.savetxt(FILE_PATH_ScenarioB+'/y_test.txt', y_test, delimiter=',')
np.savetxt(FILE_PATH_ScenarioB+'/X_train.txt', X_train, delimiter=',')
np.savetxt(FILE_PATH_ScenarioB+'/X_test.txt', X_test, delimiter=',')

In [54]:
# Clean variables I domnt need right now
df = None
corr_matrix = None
X = None
y = None
data = None 
df_main = None
df_10 = None