In [1]:
# This is my file to run first ML on my actual dataset

In [5]:
import pandas as pd
import os
import numpy as np
import sklearn

In [10]:
# Define a data frame with all my data
df = pd.read_csv("datasets/iqmulus/dataset_ML_CL_subset_1.csv", delimiter=',')
df.head()

                                   //X,Y,Z,label
0  1903.382935,21122.49023,38.99118042,303040192
1  1903.404541,21122.48633,38.99028397,303040192
2  1903.428223,21122.48047,38.99054718,303040192
3  1903.451538,21122.47656,38.99121094,303040192
4   1903.474854,21122.4707,38.99146652,303040192

In [12]:
df.iloc[0]

//X,Y,Z,label    1903.382935,21122.49023,38.99118042,303040192
Name: 0, dtype: object