In [1]:
import pandas as pd
import os

# Explain Pandas

https://www.youtube.com/watch?v=CmorAWRsCAw&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy

In [2]:
# Define a data frame 
df = pd.read_csv("../DATA/TestingData/Weather.csv", delimiter=";")
df

IOError: File ../DATA/TestingData/Weather.csv does not exist

In [14]:
# But we can also tell it to create a table itself with data we have 
weather_data = {
    'day': ['01/01/2018', '02/01/2018', '03/01/2018', '04/01/2018', '05/01/2018'],
    'windspeed': [50, 20, 60, 80, 50],
    'event': ['Rain', 'Sunny', 'Rain', 'CLoud', 'Cloud'],
    'temperature': [30, 31, 32, 34, 30]
}
df = pd.DataFrame(weather_data)
df

          day  event  temperature  windspeed
0  01/01/2018   Rain           30         50
1  02/01/2018  Sunny           31         20
2  03/01/2018   Rain           32         60
3  04/01/2018  CLoud           34         80
4  05/01/2018  Cloud           30         50

In [16]:
# Get the dimensions of a table
rows, columns = df.shape

In [17]:
# Shows the first 5 rows 
df.head()
# If we want first 3 rows: df.head(3)

          day  event  temperature  windspeed
0  01/01/2018   Rain           30         50
1  02/01/2018  Sunny           31         20
2  03/01/2018   Rain           32         60
3  04/01/2018  CLoud           34         80
4  05/01/2018  Cloud           30         50

In [18]:
df.columns
# len(df.columns)

Index([u'day', u'event', u'temperature', u'windspeed'], dtype='object')

In [19]:
# Can access different colums and see all instances of that 
df['event']
df['event'].value_counts()

Rain     2
CLoud    1
Cloud    1
Sunny    1
Name: event, dtype: int64

In [20]:
# All elements in Pandas are of type series (like array)
type(df['event'])

pandas.core.series.Series

In [21]:
# Find the max / min / mean value of a column
df['windspeed'].max()

80

In [22]:
# Shows mean / std etc for all data columns where we have numerical data 
df.describe()

       temperature  windspeed
count      5.00000   5.000000
mean      31.40000  52.000000
std        1.67332  21.679483
min       30.00000  20.000000
25%       30.00000  50.000000
50%       31.00000  50.000000
75%       32.00000  60.000000
max       34.00000  80.000000

# Querying data in the data frame

In [23]:
# Query all the rows where the windspeed is greater than 40
df[df['windspeed']>40]

          day  event  temperature  windspeed
0  01/01/2018   Rain           30         50
2  03/01/2018   Rain           32         60
3  04/01/2018  CLoud           34         80
4  05/01/2018  Cloud           30         50

In [24]:
# Query the days where it was cloudy 
df[df['event']=='Cloud']

          day  event  temperature  windspeed
4  05/01/2018  Cloud           30         50

In [25]:
# Query where the temperature is a maximum value
df[df['temperature']==df['temperature'].max()]

          day  event  temperature  windspeed
3  04/01/2018  CLoud           34         80

In [26]:
# return only the day when that is true 
df[['day','temperature']][df['temperature']==df['temperature'].max()]

          day  temperature
3  04/01/2018           34

# All operations available

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

# Indexing
We can have normal indices as by df.index but we can also define or re-define a column as index column, for example the date
would be suitable as an index 

We can basically have any column as an index, but just as in spatial databases module, we must make sure that it is a unique identifier

In [27]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
# Re-define the index 
# Note: it doesnt change anything in df, unless we either
# a) write: inplace = True
# b) give it a new instance (df2 = df.set_index('day'))
df.set_index('day')

            event  temperature  windspeed
day
01/01/2018   Rain           30         50
02/01/2018  Sunny           31         20
03/01/2018   Rain           32         60
04/01/2018  CLoud           34         80
05/01/2018  Cloud           30         50

In [29]:
df.set_index('day', inplace=True)

In [30]:
df

            event  temperature  windspeed
day
01/01/2018   Rain           30         50
02/01/2018  Sunny           31         20
03/01/2018   Rain           32         60
04/01/2018  CLoud           34         80
05/01/2018  Cloud           30         50

In [32]:
# Re-setting the index 
df.reset_index(inplace=True)
df

          day  event  temperature  windspeed
0  01/01/2018   Rain           30         50
1  02/01/2018  Sunny           31         20
2  03/01/2018   Rain           32         60
3  04/01/2018  CLoud           34         80
4  05/01/2018  Cloud           30         50

# Create a column and drop a column

Here, we can easily create a column

In [33]:
# Create nonsense table 
df['new_column']=df['windspeed']/df['temperature']
df

          day  event  temperature  windspeed  new_column
0  01/01/2018   Rain           30         50    1.666667
1  02/01/2018  Sunny           31         20    0.645161
2  03/01/2018   Rain           32         60    1.875000
3  04/01/2018  CLoud           34         80    2.352941
4  05/01/2018  Cloud           30         50    1.666667

In [ ]:
df.drop(['new_column'], axis=1, inplace=True)
df

In [ ]:
# But we can also tell it to create a table itself with data we have 
weather_data = {
    'day': ['01/01/2018', '02/01/2018', '03/01/2018', '04/01/2018', '05/01/2018'],
    'windspeed': [50, 20, 60, 80, 50],
    'event': ['Rain', 'Sunny', 'Rain', 'CLoud', 'Cloud'],
    'temperature': [30, 31, 32, 34, 30]
}
df = pd.DataFrame(weather_data)
df

In [34]:
test = {
    'col1': [1,2,3,4,5,6,7,8],
    'col2': [8,7,6,5,4,3,2,1]
}
df = pd.DataFrame(test)

In [37]:
df['new_col'] = 1-df['col1']

In [38]:
df.head()

   col1  col2  new_col
0     1     8        0
1     2     7       -1
2     3     6       -2
3     4     5       -3
4     5     4       -4