In [1]:
import pandas as pd
import os
import numpy as np
import sklearn 
import scipy.linalg as scplinag
from sklearn.neighbors import KDTree

In [8]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_NAME = r"/subset_if_PC_breaksdown_features.txt"
IMAGE_FILE_PATH = r"images"
df = pd.read_csv(FILE_PATH+FILE_NAME, delimiter=',')
df.head()

,X,Y,Z,class,lambda1,lambda2,lambda3,lambda4,lambda5,lambda6,lambda7,lambda8,range,verticality
0,1905.494751,21122.037109,38.884586,2,0.998865,0.001132,0.000003,0.000001,0.999997,0.005496,0.000765,0.000003,-2.497189,0.000847
1,1905.502930,21122.035156,38.883110,2,0.998865,0.001132,0.000003,0.000001,0.999997,0.005496,0.000765,0.000003,-2.498982,0.000847
2,1905.512939,21122.033203,38.883949,2,0.998865,0.001132,0.000003,0.000001,0.999997,0.005496,0.000765,0.000003,-2.498448,0.000847
3,1905.520874,21122.031250,38.882137,2,0.998865,0.001132,0.000003,0.000001,0.999997,0.005496,0.000765,0.000003,-2.500576,0.000847
4,1905.531128,21122.029297,38.882839,2,0.998865,0.001132,0.000003,0.000001,0.999997,0.005496,0.000765,0.000003,-2.500191,0.000902

In [9]:
df.describe()

,X,Y,Z,class,lambda1,lambda2,lambda3,lambda4,lambda5,lambda6,lambda7,lambda8,range,verticality
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,1907.187812,21121.768879,41.085796,2.423000,0.980661,0.018736,6.031984e-04,2.558039e-05,0.999397,0.016425,0.004141,5.973665e-04,-0.273462,0.176337
std,2.940683,0.795835,5.413538,1.044587,0.048768,0.048899,4.577204e-04,6.547427e-05,0.000458,0.036770,0.012597,4.527045e-04,5.536479,0.452433
min,1900.446655,21120.710938,38.881927,2.000000,0.692346,0.000047,3.912000e-07,3.486093e-07,0.998001,0.001678,0.000196,3.911110e-07,-2.501492,0.000005
25%,1906.381409,21121.298340,38.946611,2.000000,0.988544,0.001963,1.329874e-04,4.629228e-06,0.999010,0.001974,0.000235,1.329287e-04,-2.475626,0.000084
50%,1907.725159,21121.571289,38.957901,2.000000,0.993516,0.005662,6.452654e-04,5.498964e-06,0.999355,0.003010,0.000380,6.419667e-04,-2.468052,0.000270
75%,1909.059143,21121.851562,38.968621,2.000000,0.997542,0.010420,9.903819e-04,6.994137e-06,0.999867,0.006988,0.001012,9.786264e-04,-2.419041,0.000960
max,1911.933228,21123.822266,60.228806,5.000000,0.999926,0.307616,1.998753e-03,5.342865e-04,1.000000,0.303665,0.164601,1.978733e-03,19.194847,1.978607

In [7]:
df["lambda1"].iloc[:10]

0    0.998865
1    0.998865
2    0.998865
3    0.998865
4    0.998865
5    0.998865
6    0.999183
7    0.999335
8    0.999331
9    0.999331
Name: lambda1, dtype: float64